In [30]:
import pandas as pd

In [31]:
train  = pd.read_csv(r"C:\Users\Nick\OneDrive\Desktop\Kaggle\Titanic\train.csv")
test = pd.read_csv(r"C:\Users\Nick\OneDrive\Desktop\Kaggle\Titanic\test.csv")

In [32]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [33]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [34]:
median_age = train['Age'].median()

train['Age'].fillna(median_age,inplace=True)

C:\Users\Nick\AppData\Local\Temp\ipykernel_4932\3162329930.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train['Age'].fillna(median_age,inplace=True)

In [35]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [36]:
train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.361582,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,13.019697,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,22.000000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,35.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [37]:
train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

Good question 👍 — seniors usually don’t just follow one fixed recipe, they think like detectives: “Does this column carry signal or is it just noise?” 

For Cabin, a senior ML person would probably:

Check missingness itself as a signal → Sometimes “missing” isn’t random. On Titanic, rich folks with cabins were recorded, poor folks weren’t. That already correlates with survival. So they’d create HasCabin first.

Extract interpretable parts → The deck letter tells you something about passenger location (near lifeboats or not). They’d extract Deck and maybe group rare decks into “Other.”

Ignore messy details → Exact cabin numbers (like 23 vs 25) don’t matter. A senior wouldn’t waste time treating each cabin ID as a category.

Test usefulness empirically → They’d try both with and without Cabin-derived features in a baseline model and see if CV scores improve. If it doesn’t help, they’d drop it.

So instead of agonizing, they’d quickly engineer 2–3 variations, run them, and let the data decide.

In [38]:
# But I will just drop the column
train.drop('Cabin',axis = 1,inplace=True)
train.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       2
dtype: int64

In [39]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S

In [40]:
test.drop('Cabin',axis=1,inplace=True)

In [41]:
train['Embarked'].fillna(train['Embarked'].mode()[0], inplace=True)

C:\Users\Nick\AppData\Local\Temp\ipykernel_4932\4055762640.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train['Embarked'].fillna(train['Embarked'].mode()[0], inplace=True)

In [42]:
test.isna().sum()

PassengerId     0
Pclass          0
Name            0
Sex             0
Age            86
SibSp           0
Parch           0
Ticket          0
Fare            1
Embarked        0
dtype: int64

In [43]:
median_age2 = test['Age'].median()

test['Age'].fillna(median_age2,inplace=True)

C:\Users\Nick\AppData\Local\Temp\ipykernel_4932\2085353145.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test['Age'].fillna(median_age2,inplace=True)

In [44]:
test['Fare'].fillna(test['Fare'].median(), inplace=True)


test.isnull().sum()

C:\Users\Nick\AppData\Local\Temp\ipykernel_4932\3507429944.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test['Fare'].fillna(test['Fare'].median(), inplace=True)

PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [45]:
train = pd.get_dummies(train,columns=['Embarked','Sex'])

In [46]:
train.head()

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Embarked_C,Embarked_Q,Embarked_S,Sex_female,Sex_male
0,1,0,3,"Braund, Mr. Owen Harris",22.0,1,0,A/5 21171,7.2500,False,False,True,False,True
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.0,1,0,PC 17599,71.2833,True,False,False,True,False
2,3,1,3,"Heikkinen, Miss. Laina",26.0,0,0,STON/O2. 3101282,7.9250,False,False,True,True,False
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",35.0,1,0,113803,53.1000,False,False,True,True,False
4,5,0,3,"Allen, Mr. William Henry",35.0,0,0,373450,8.0500,False,False,True,False,True

In [47]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,S

In [48]:
test = pd.get_dummies(test, columns= ['Embarked','Sex'])

In [49]:
test.head()

,PassengerId,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Embarked_C,Embarked_Q,Embarked_S,Sex_female,Sex_male
0,892,3,"Kelly, Mr. James",34.5,0,0,330911,7.8292,False,True,False,False,True
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",47.0,1,0,363272,7.0000,False,False,True,True,False
2,894,2,"Myles, Mr. Thomas Francis",62.0,0,0,240276,9.6875,False,True,False,False,True
3,895,3,"Wirz, Mr. Albert",27.0,0,0,315154,8.6625,False,False,True,False,True
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",22.0,1,1,3101298,12.2875,False,False,True,True,False

In [50]:
train = train.drop(columns=['Name','Ticket'])
test = test.drop(columns=['Name','Ticket'])

In [51]:
#Feaatures

x_train = train.drop('Survived',axis=1)
y_train = train['Survived']

In [52]:
x_test = test[x_train.columns]

In [53]:
from sklearn.ensemble import RandomForestClassifier
import numpy as np

best_oob_score = 0
best_param = {}

n_estimators_list = [50,100,200]
max_depth_list = [3,5,10,None]
max_features_list = ['sqrt','log2']
min_leaf_sample_list = [1,2,5,8]
min_sample_split_list = [5,8,10]

In [55]:
print("Parameter tuning with OOB : ")
for n_est in n_estimators_list:
    for depth in max_depth_list:
        for feat in max_features_list:
            for leaf in min_leaf_sample_list:
                for split in min_sample_split_list:
                    model = RandomForestClassifier(
                        n_estimators=n_est,
                        max_depth=depth,
                        max_features=feat,
                        min_samples_leaf=leaf,
                        min_samples_split=split,
                        oob_score=True,
                        random_state=1,
                        n_jobs=-1,
                        # warm_start=True # This is nice feature cuz everytime u fit it does make forest again so slow
                    )
                    model.fit(x_train,y_train)
                    #oob score
                    current_oob_score = model.oob_score_
                    print(f"n_est: {n_est:3d} | depth: {str(depth):4} | min_leaf: {leaf:3d} | min_split: {split:3d} | max_feat: {str(feat):5} | OOB: {current_oob_score:.4f}")
                    if current_oob_score > best_oob_score:
                        best_oob_score = current_oob_score
                        best_params = {'n_estimators': n_est, 'max_depth': depth, 'max_features': feat, 'min_samples_leaf': leaf,
                        'min_samples_split':split}
                        best_model = model  # saves thghe best model


print("\n" + "="*50)
print(f"Best OOB Score: {best_oob_score:.4f}")
print(f"Best Parameters: {best_params}")

Parameter tuning with OOB :
n_est:  50 | depth: 3    | min_leaf:   1 | min_split:   5 | max_feat: sqrt  | OOB: 0.7980
n_est:  50 | depth: 3    | min_leaf:   1 | min_split:   8 | max_feat: sqrt  | OOB: 0.7980
n_est:  50 | depth: 3    | min_leaf:   1 | min_split:  10 | max_feat: sqrt  | OOB: 0.7980
n_est:  50 | depth: 3    | min_leaf:   2 | min_split:   5 | max_feat: sqrt  | OOB: 0.7980
n_est:  50 | depth: 3    | min_leaf:   2 | min_split:   8 | max_feat: sqrt  | OOB: 0.7980
n_est:  50 | depth: 3    | min_leaf:   2 | min_split:  10 | max_feat: sqrt  | OOB: 0.7980
n_est:  50 | depth: 3    | min_leaf:   5 | min_split:   5 | max_feat: sqrt  | OOB: 0.7935
n_est:  50 | depth: 3    | min_leaf:   5 | min_split:   8 | max_feat: sqrt  | OOB: 0.7935
n_est:  50 | depth: 3    | min_leaf:   5 | min_split:  10 | max_feat: sqrt  | OOB: 0.7935
n_est:  50 | depth: 3    | min_leaf:   8 | min_split:   5 | max_feat: sqrt  | OOB: 0.8047
n_est:  50 | depth: 3    | min_leaf:   8 | min_split:   8 | max_feat: sqrt  | OOB: 0.8047
n_est:  50 | depth: 3    | min_leaf:   8 | min_split:  10 | max_feat: sqrt  | OOB: 0.8047
n_est:  50 | depth: 3    | min_leaf:   1 | min_split:   5 | max_feat: log2  | OOB: 0.7980
n_est:  50 | depth: 3    | min_leaf:   1 | min_split:   8 | max_feat: log2  | OOB: 0.7980
n_est:  50 | depth: 3    | min_leaf:   1 | min_split:  10 | max_feat: log2  | OOB: 0.7980
n_est:  50 | depth: 3    | min_leaf:   2 | min_split:   5 | max_feat: log2  | OOB: 0.7980
n_est:  50 | depth: 3    | min_leaf:   2 | min_split:   8 | max_feat: log2  | OOB: 0.7980
n_est:  50 | depth: 3    | min_leaf:   2 | min_split:  10 | max_feat: log2  | OOB: 0.7980
n_est:  50 | depth: 3    | min_leaf:   5 | min_split:   5 | max_feat: log2  | OOB: 0.7935
n_est:  50 | depth: 3    | min_leaf:   5 | min_split:   8 | max_feat: log2  | OOB: 0.7935
n_est:  50 | depth: 3    | min_leaf:   5 | min_split:  10 | max_feat: log2  | OOB: 0.7935
n_est:  50 | depth: 3    | min_leaf:   8 | min_split:   5 | max_feat: log2  | OOB: 0.8047
n_est:  50 | depth: 3    | min_leaf:   8 | min_split:   8 | max_feat: log2  | OOB: 0.8047
n_est:  50 | depth: 3    | min_leaf:   8 | min_split:  10 | max_feat: log2  | OOB: 0.8047
n_est:  50 | depth: 5    | min_leaf:   1 | min_split:   5 | max_feat: sqrt  | OOB: 0.8114
n_est:  50 | depth: 5    | min_leaf:   1 | min_split:   8 | max_feat: sqrt  | OOB: 0.8171
n_est:  50 | depth: 5    | min_leaf:   1 | min_split:  10 | max_feat: sqrt  | OOB: 0.8249
n_est:  50 | depth: 5    | min_leaf:   2 | min_split:   5 | max_feat: sqrt  | OOB: 0.8171
n_est:  50 | depth: 5    | min_leaf:   2 | min_split:   8 | max_feat: sqrt  | OOB: 0.8227
n_est:  50 | depth: 5    | min_leaf:   2 | min_split:  10 | max_feat: sqrt  | OOB: 0.8204
n_est:  50 | depth: 5    | min_leaf:   5 | min_split:   5 | max_feat: sqrt  | OOB: 0.8204
n_est:  50 | depth: 5    | min_leaf:   5 | min_split:   8 | max_feat: sqrt  | OOB: 0.8204
n_est:  50 | depth: 5    | min_leaf:   5 | min_split:  10 | max_feat: sqrt  | OOB: 0.8204
n_est:  50 | depth: 5    | min_leaf:   8 | min_split:   5 | max_feat: sqrt  | OOB: 0.8114
n_est:  50 | depth: 5    | min_leaf:   8 | min_split:   8 | max_feat: sqrt  | OOB: 0.8114
n_est:  50 | depth: 5    | min_leaf:   8 | min_split:  10 | max_feat: sqrt  | OOB: 0.8114
n_est:  50 | depth: 5    | min_leaf:   1 | min_split:   5 | max_feat: log2  | OOB: 0.8114
n_est:  50 | depth: 5    | min_leaf:   1 | min_split:   8 | max_feat: log2  | OOB: 0.8171
n_est:  50 | depth: 5    | min_leaf:   1 | min_split:  10 | max_feat: log2  | OOB: 0.8249
n_est:  50 | depth: 5    | min_leaf:   2 | min_split:   5 | max_feat: log2  | OOB: 0.8171
n_est:  50 | depth: 5    | min_leaf:   2 | min_split:   8 | max_feat: log2  | OOB: 0.8227
n_est:  50 | depth: 5    | min_leaf:   2 | min_split:  10 | max_feat: log2  | OOB: 0.8204
n_est:  50 | depth: 5    | min_leaf:   5 | min_split:   5 | max_feat: log2  | OOB: 0.8204
n_est:  50 | depth: 5    | min_leaf:   5 | min_split:   8 | max_feat: log2  | OOB: 0.8204
n_est:  50 | depth: 5    | min_leaf:   5 | min_split:  10 | max_feat: log2  | OOB: 0.8204
n_est:  50 | depth: 5    | min_leaf:   8 | min_split:   5 | max_feat: log2  | OOB: 0.8114
n_est:  50 | depth: 5    | min_leaf:   8 | min_split:   8 | max_feat: log2  | OOB: 0.8114
n_est:  50 | depth: 5    | min_leaf:   8 | min_split:  10 | max_feat: log2  | OOB: 0.8114
n_est:  50 | depth: 10   | min_leaf:   1 | min_split:   5 | max_feat: sqrt  | OOB: 0.8182
n_est:  50 | depth: 10   | min_leaf:   1 | min_split:   8 | max_feat: sqrt  | OOB: 0.8182
n_est:  50 | depth: 10   | min_leaf:   1 | min_split:  10 | max_feat: sqrt  | OOB: 0.8193
n_est:  50 | depth: 10   | min_leaf:   2 | min_split:   5 | max_feat: sqrt  | OOB: 0.8204
n_est:  50 | depth: 10   | min_leaf:   2 | min_split:   8 | max_feat: sqrt  | OOB: 0.8193
n_est:  50 | depth: 10   | min_leaf:   2 | min_split:  10 | max_feat: sqrt  | OOB: 0.8215
n_est:  50 | depth: 10   | min_leaf:   5 | min_split:   5 | max_feat: sqrt  | OOB: 0.8182
n_est:  50 | depth: 10   | min_leaf:   5 | min_split:   8 | max_feat: sqrt  | OOB: 0.8182
n_est:  50 | depth: 10   | min_leaf:   5 | min_split:  10 | max_feat: sqrt  | OOB: 0.8182
n_est:  50 | depth: 10   | min_leaf:   8 | min_split:   5 | max_feat: sqrt  | OOB: 0.8126
n_est:  50 | depth: 10   | min_leaf:   8 | min_split:   8 | max_feat: sqrt  | OOB: 0.8126
n_est:  50 | depth: 10   | min_leaf:   8 | min_split:  10 | max_feat: sqrt  | OOB: 0.8126
n_est:  50 | depth: 10   | min_leaf:   1 | min_split:   5 | max_feat: log2  | OOB: 0.8182
n_est:  50 | depth: 10   | min_leaf:   1 | min_split:   8 | max_feat: log2  | OOB: 0.8182
n_est:  50 | depth: 10   | min_leaf:   1 | min_split:  10 | max_feat: log2  | OOB: 0.8193
n_est:  50 | depth: 10   | min_leaf:   2 | min_split:   5 | max_feat: log2  | OOB: 0.8204
n_est:  50 | depth: 10   | min_leaf:   2 | min_split:   8 | max_feat: log2  | OOB: 0.8193
n_est:  50 | depth: 10   | min_leaf:   2 | min_split:  10 | max_feat: log2  | OOB: 0.8215
n_est:  50 | depth: 10   | min_leaf:   5 | min_split:   5 | max_feat: log2  | OOB: 0.8182
n_est:  50 | depth: 10   | min_leaf:   5 | min_split:   8 | max_feat: log2  | OOB: 0.8182
n_est:  50 | depth: 10   | min_leaf:   5 | min_split:  10 | max_feat: log2  | OOB: 0.8182
n_est:  50 | depth: 10   | min_leaf:   8 | min_split:   5 | max_feat: log2  | OOB: 0.8126
n_est:  50 | depth: 10   | min_leaf:   8 | min_split:   8 | max_feat: log2  | OOB: 0.8126
n_est:  50 | depth: 10   | min_leaf:   8 | min_split:  10 | max_feat: log2  | OOB: 0.8126
n_est:  50 | depth: None | min_leaf:   1 | min_split:   5 | max_feat: sqrt  | OOB: 0.8159
n_est:  50 | depth: None | min_leaf:   1 | min_split:   8 | max_feat: sqrt  | OOB: 0.8182
n_est:  50 | depth: None | min_leaf:   1 | min_split:  10 | max_feat: sqrt  | OOB: 0.8238
n_est:  50 | depth: None | min_leaf:   2 | min_split:   5 | max_feat: sqrt  | OOB: 0.8171
n_est:  50 | depth: None | min_leaf:   2 | min_split:   8 | max_feat: sqrt  | OOB: 0.8204
n_est:  50 | depth: None | min_leaf:   2 | min_split:  10 | max_feat: sqrt  | OOB: 0.8114
n_est:  50 | depth: None | min_leaf:   5 | min_split:   5 | max_feat: sqrt  | OOB: 0.8204
n_est:  50 | depth: None | min_leaf:   5 | min_split:   8 | max_feat: sqrt  | OOB: 0.8204
n_est:  50 | depth: None | min_leaf:   5 | min_split:  10 | max_feat: sqrt  | OOB: 0.8204
n_est:  50 | depth: None | min_leaf:   8 | min_split:   5 | max_feat: sqrt  | OOB: 0.8137
n_est:  50 | depth: None | min_leaf:   8 | min_split:   8 | max_feat: sqrt  | OOB: 0.8137
n_est:  50 | depth: None | min_leaf:   8 | min_split:  10 | max_feat: sqrt  | OOB: 0.8137
n_est:  50 | depth: None | min_leaf:   1 | min_split:   5 | max_feat: log2  | OOB: 0.8159
n_est:  50 | depth: None | min_leaf:   1 | min_split:   8 | max_feat: log2  | OOB: 0.8182
n_est:  50 | depth: None | min_leaf:   1 | min_split:  10 | max_feat: log2  | OOB: 0.8238
n_est:  50 | depth: None | min_leaf:   2 | min_split:   5 | max_feat: log2  | OOB: 0.8171
n_est:  50 | depth: None | min_leaf:   2 | min_split:   8 | max_feat: log2  | OOB: 0.8204
n_est:  50 | depth: None | min_leaf:   2 | min_split:  10 | max_feat: log2  | OOB: 0.8114
n_est:  50 | depth: None | min_leaf:   5 | min_split:   5 | max_feat: log2  | OOB: 0.8204
n_est:  50 | depth: None | min_leaf:   5 | min_split:   8 | max_feat: log2  | OOB: 0.8204
n_est:  50 | depth: None | min_leaf:   5 | min_split:  10 | max_feat: log2  | OOB: 0.8204
n_est:  50 | depth: None | min_leaf:   8 | min_split:   5 | max_feat: log2  | OOB: 0.8137
n_est:  50 | depth: None | min_leaf:   8 | min_split:   8 | max_feat: log2  | OOB: 0.8137
n_est:  50 | depth: None | min_leaf:   8 | min_split:  10 | max_feat: log2  | OOB: 0.8137
n_est: 100 | depth: 3    | min_leaf:   1 | min_split:   5 | max_feat: sqrt  | OOB: 0.8114
n_est: 100 | depth: 3    | min_leaf:   1 | min_split:   8 | max_feat: sqrt  | OOB: 0.8103
n_est: 100 | depth: 3    | min_leaf:   1 | min_split:  10 | max_feat: sqrt  | OOB: 0.8103
n_est: 100 | depth: 3    | min_leaf:   2 | min_split:   5 | max_feat: sqrt  | OOB: 0.8103
n_est: 100 | depth: 3    | min_leaf:   2 | min_split:   8 | max_feat: sqrt  | OOB: 0.8092
n_est: 100 | depth: 3    | min_leaf:   2 | min_split:  10 | max_feat: sqrt  | OOB: 0.8092
n_est: 100 | depth: 3    | min_leaf:   5 | min_split:   5 | max_feat: sqrt  | OOB: 0.8092
n_est: 100 | depth: 3    | min_leaf:   5 | min_split:   8 | max_feat: sqrt  | OOB: 0.8092
n_est: 100 | depth: 3    | min_leaf:   5 | min_split:  10 | max_feat: sqrt  | OOB: 0.8092
n_est: 100 | depth: 3    | min_leaf:   8 | min_split:   5 | max_feat: sqrt  | OOB: 0.8070
n_est: 100 | depth: 3    | min_leaf:   8 | min_split:   8 | max_feat: sqrt  | OOB: 0.8070
n_est: 100 | depth: 3    | min_leaf:   8 | min_split:  10 | max_feat: sqrt  | OOB: 0.8070
n_est: 100 | depth: 3    | min_leaf:   1 | min_split:   5 | max_feat: log2  | OOB: 0.8114
n_est: 100 | depth: 3    | min_leaf:   1 | min_split:   8 | max_feat: log2  | OOB: 0.8103
n_est: 100 | depth: 3    | min_leaf:   1 | min_split:  10 | max_feat: log2  | OOB: 0.8103
n_est: 100 | depth: 3    | min_leaf:   2 | min_split:   5 | max_feat: log2  | OOB: 0.8103
n_est: 100 | depth: 3    | min_leaf:   2 | min_split:   8 | max_feat: log2  | OOB: 0.8092
n_est: 100 | depth: 3    | min_leaf:   2 | min_split:  10 | max_feat: log2  | OOB: 0.8092
n_est: 100 | depth: 3    | min_leaf:   5 | min_split:   5 | max_feat: log2  | OOB: 0.8092
n_est: 100 | depth: 3    | min_leaf:   5 | min_split:   8 | max_feat: log2  | OOB: 0.8092
n_est: 100 | depth: 3    | min_leaf:   5 | min_split:  10 | max_feat: log2  | OOB: 0.8092
n_est: 100 | depth: 3    | min_leaf:   8 | min_split:   5 | max_feat: log2  | OOB: 0.8070
n_est: 100 | depth: 3    | min_leaf:   8 | min_split:   8 | max_feat: log2  | OOB: 0.8070
n_est: 100 | depth: 3    | min_leaf:   8 | min_split:  10 | max_feat: log2  | OOB: 0.8070
n_est: 100 | depth: 5    | min_leaf:   1 | min_split:   5 | max_feat: sqrt  | OOB: 0.8204
n_est: 100 | depth: 5    | min_leaf:   1 | min_split:   8 | max_feat: sqrt  | OOB: 0.8249
n_est: 100 | depth: 5    | min_leaf:   1 | min_split:  10 | max_feat: sqrt  | OOB: 0.8272
n_est: 100 | depth: 5    | min_leaf:   2 | min_split:   5 | max_feat: sqrt  | OOB: 0.8193
n_est: 100 | depth: 5    | min_leaf:   2 | min_split:   8 | max_feat: sqrt  | OOB: 0.8272
n_est: 100 | depth: 5    | min_leaf:   2 | min_split:  10 | max_feat: sqrt  | OOB: 0.8294
n_est: 100 | depth: 5    | min_leaf:   5 | min_split:   5 | max_feat: sqrt  | OOB: 0.8193
n_est: 100 | depth: 5    | min_leaf:   5 | min_split:   8 | max_feat: sqrt  | OOB: 0.8193
n_est: 100 | depth: 5    | min_leaf:   5 | min_split:  10 | max_feat: sqrt  | OOB: 0.8193
n_est: 100 | depth: 5    | min_leaf:   8 | min_split:   5 | max_feat: sqrt  | OOB: 0.8159
n_est: 100 | depth: 5    | min_leaf:   8 | min_split:   8 | max_feat: sqrt  | OOB: 0.8159
n_est: 100 | depth: 5    | min_leaf:   8 | min_split:  10 | max_feat: sqrt  | OOB: 0.8159
n_est: 100 | depth: 5    | min_leaf:   1 | min_split:   5 | max_feat: log2  | OOB: 0.8204
n_est: 100 | depth: 5    | min_leaf:   1 | min_split:   8 | max_feat: log2  | OOB: 0.8249
n_est: 100 | depth: 5    | min_leaf:   1 | min_split:  10 | max_feat: log2  | OOB: 0.8272
n_est: 100 | depth: 5    | min_leaf:   2 | min_split:   5 | max_feat: log2  | OOB: 0.8193
n_est: 100 | depth: 5    | min_leaf:   2 | min_split:   8 | max_feat: log2  | OOB: 0.8272
n_est: 100 | depth: 5    | min_leaf:   2 | min_split:  10 | max_feat: log2  | OOB: 0.8294
n_est: 100 | depth: 5    | min_leaf:   5 | min_split:   5 | max_feat: log2  | OOB: 0.8193
n_est: 100 | depth: 5    | min_leaf:   5 | min_split:   8 | max_feat: log2  | OOB: 0.8193
n_est: 100 | depth: 5    | min_leaf:   5 | min_split:  10 | max_feat: log2  | OOB: 0.8193
n_est: 100 | depth: 5    | min_leaf:   8 | min_split:   5 | max_feat: log2  | OOB: 0.8159
n_est: 100 | depth: 5    | min_leaf:   8 | min_split:   8 | max_feat: log2  | OOB: 0.8159
n_est: 100 | depth: 5    | min_leaf:   8 | min_split:  10 | max_feat: log2  | OOB: 0.8159
n_est: 100 | depth: 10   | min_leaf:   1 | min_split:   5 | max_feat: sqrt  | OOB: 0.8159
n_est: 100 | depth: 10   | min_leaf:   1 | min_split:   8 | max_feat: sqrt  | OOB: 0.8260
n_est: 100 | depth: 10   | min_leaf:   1 | min_split:  10 | max_feat: sqrt  | OOB: 0.8137
n_est: 100 | depth: 10   | min_leaf:   2 | min_split:   5 | max_feat: sqrt  | OOB: 0.8215
n_est: 100 | depth: 10   | min_leaf:   2 | min_split:   8 | max_feat: sqrt  | OOB: 0.8182
n_est: 100 | depth: 10   | min_leaf:   2 | min_split:  10 | max_feat: sqrt  | OOB: 0.8238
n_est: 100 | depth: 10   | min_leaf:   5 | min_split:   5 | max_feat: sqrt  | OOB: 0.8171
n_est: 100 | depth: 10   | min_leaf:   5 | min_split:   8 | max_feat: sqrt  | OOB: 0.8171
n_est: 100 | depth: 10   | min_leaf:   5 | min_split:  10 | max_feat: sqrt  | OOB: 0.8171
n_est: 100 | depth: 10   | min_leaf:   8 | min_split:   5 | max_feat: sqrt  | OOB: 0.8159
n_est: 100 | depth: 10   | min_leaf:   8 | min_split:   8 | max_feat: sqrt  | OOB: 0.8159
n_est: 100 | depth: 10   | min_leaf:   8 | min_split:  10 | max_feat: sqrt  | OOB: 0.8159
n_est: 100 | depth: 10   | min_leaf:   1 | min_split:   5 | max_feat: log2  | OOB: 0.8159
n_est: 100 | depth: 10   | min_leaf:   1 | min_split:   8 | max_feat: log2  | OOB: 0.8260
n_est: 100 | depth: 10   | min_leaf:   1 | min_split:  10 | max_feat: log2  | OOB: 0.8137
n_est: 100 | depth: 10   | min_leaf:   2 | min_split:   5 | max_feat: log2  | OOB: 0.8215
n_est: 100 | depth: 10   | min_leaf:   2 | min_split:   8 | max_feat: log2  | OOB: 0.8182
n_est: 100 | depth: 10   | min_leaf:   2 | min_split:  10 | max_feat: log2  | OOB: 0.8238
n_est: 100 | depth: 10   | min_leaf:   5 | min_split:   5 | max_feat: log2  | OOB: 0.8171
n_est: 100 | depth: 10   | min_leaf:   5 | min_split:   8 | max_feat: log2  | OOB: 0.8171
n_est: 100 | depth: 10   | min_leaf:   5 | min_split:  10 | max_feat: log2  | OOB: 0.8171
n_est: 100 | depth: 10   | min_leaf:   8 | min_split:   5 | max_feat: log2  | OOB: 0.8159
n_est: 100 | depth: 10   | min_leaf:   8 | min_split:   8 | max_feat: log2  | OOB: 0.8159
n_est: 100 | depth: 10   | min_leaf:   8 | min_split:  10 | max_feat: log2  | OOB: 0.8159
n_est: 100 | depth: None | min_leaf:   1 | min_split:   5 | max_feat: sqrt  | OOB: 0.8148
n_est: 100 | depth: None | min_leaf:   1 | min_split:   8 | max_feat: sqrt  | OOB: 0.8137
n_est: 100 | depth: None | min_leaf:   1 | min_split:  10 | max_feat: sqrt  | OOB: 0.8238
n_est: 100 | depth: None | min_leaf:   2 | min_split:   5 | max_feat: sqrt  | OOB: 0.8103
n_est: 100 | depth: None | min_leaf:   2 | min_split:   8 | max_feat: sqrt  | OOB: 0.8114
n_est: 100 | depth: None | min_leaf:   2 | min_split:  10 | max_feat: sqrt  | OOB: 0.8126
n_est: 100 | depth: None | min_leaf:   5 | min_split:   5 | max_feat: sqrt  | OOB: 0.8204
n_est: 100 | depth: None | min_leaf:   5 | min_split:   8 | max_feat: sqrt  | OOB: 0.8204
n_est: 100 | depth: None | min_leaf:   5 | min_split:  10 | max_feat: sqrt  | OOB: 0.8204
n_est: 100 | depth: None | min_leaf:   8 | min_split:   5 | max_feat: sqrt  | OOB: 0.8126
n_est: 100 | depth: None | min_leaf:   8 | min_split:   8 | max_feat: sqrt  | OOB: 0.8126
n_est: 100 | depth: None | min_leaf:   8 | min_split:  10 | max_feat: sqrt  | OOB: 0.8126
n_est: 100 | depth: None | min_leaf:   1 | min_split:   5 | max_feat: log2  | OOB: 0.8148
n_est: 100 | depth: None | min_leaf:   1 | min_split:   8 | max_feat: log2  | OOB: 0.8137
n_est: 100 | depth: None | min_leaf:   1 | min_split:  10 | max_feat: log2  | OOB: 0.8238
n_est: 100 | depth: None | min_leaf:   2 | min_split:   5 | max_feat: log2  | OOB: 0.8103
n_est: 100 | depth: None | min_leaf:   2 | min_split:   8 | max_feat: log2  | OOB: 0.8114
n_est: 100 | depth: None | min_leaf:   2 | min_split:  10 | max_feat: log2  | OOB: 0.8126
n_est: 100 | depth: None | min_leaf:   5 | min_split:   5 | max_feat: log2  | OOB: 0.8204
n_est: 100 | depth: None | min_leaf:   5 | min_split:   8 | max_feat: log2  | OOB: 0.8204
n_est: 100 | depth: None | min_leaf:   5 | min_split:  10 | max_feat: log2  | OOB: 0.8204
n_est: 100 | depth: None | min_leaf:   8 | min_split:   5 | max_feat: log2  | OOB: 0.8126
n_est: 100 | depth: None | min_leaf:   8 | min_split:   8 | max_feat: log2  | OOB: 0.8126
n_est: 100 | depth: None | min_leaf:   8 | min_split:  10 | max_feat: log2  | OOB: 0.8126
n_est: 200 | depth: 3    | min_leaf:   1 | min_split:   5 | max_feat: sqrt  | OOB: 0.8137
n_est: 200 | depth: 3    | min_leaf:   1 | min_split:   8 | max_feat: sqrt  | OOB: 0.8137
n_est: 200 | depth: 3    | min_leaf:   1 | min_split:  10 | max_feat: sqrt  | OOB: 0.8137
n_est: 200 | depth: 3    | min_leaf:   2 | min_split:   5 | max_feat: sqrt  | OOB: 0.8137
n_est: 200 | depth: 3    | min_leaf:   2 | min_split:   8 | max_feat: sqrt  | OOB: 0.8137
n_est: 200 | depth: 3    | min_leaf:   2 | min_split:  10 | max_feat: sqrt  | OOB: 0.8137
n_est: 200 | depth: 3    | min_leaf:   5 | min_split:   5 | max_feat: sqrt  | OOB: 0.8114
n_est: 200 | depth: 3    | min_leaf:   5 | min_split:   8 | max_feat: sqrt  | OOB: 0.8114
n_est: 200 | depth: 3    | min_leaf:   5 | min_split:  10 | max_feat: sqrt  | OOB: 0.8114
n_est: 200 | depth: 3    | min_leaf:   8 | min_split:   5 | max_feat: sqrt  | OOB: 0.8047
n_est: 200 | depth: 3    | min_leaf:   8 | min_split:   8 | max_feat: sqrt  | OOB: 0.8047
n_est: 200 | depth: 3    | min_leaf:   8 | min_split:  10 | max_feat: sqrt  | OOB: 0.8047
n_est: 200 | depth: 3    | min_leaf:   1 | min_split:   5 | max_feat: log2  | OOB: 0.8137
n_est: 200 | depth: 3    | min_leaf:   1 | min_split:   8 | max_feat: log2  | OOB: 0.8137
n_est: 200 | depth: 3    | min_leaf:   1 | min_split:  10 | max_feat: log2  | OOB: 0.8137
n_est: 200 | depth: 3    | min_leaf:   2 | min_split:   5 | max_feat: log2  | OOB: 0.8137
n_est: 200 | depth: 3    | min_leaf:   2 | min_split:   8 | max_feat: log2  | OOB: 0.8137
n_est: 200 | depth: 3    | min_leaf:   2 | min_split:  10 | max_feat: log2  | OOB: 0.8137
n_est: 200 | depth: 3    | min_leaf:   5 | min_split:   5 | max_feat: log2  | OOB: 0.8114
n_est: 200 | depth: 3    | min_leaf:   5 | min_split:   8 | max_feat: log2  | OOB: 0.8114
n_est: 200 | depth: 3    | min_leaf:   5 | min_split:  10 | max_feat: log2  | OOB: 0.8114
n_est: 200 | depth: 3    | min_leaf:   8 | min_split:   5 | max_feat: log2  | OOB: 0.8047
n_est: 200 | depth: 3    | min_leaf:   8 | min_split:   8 | max_feat: log2  | OOB: 0.8047
n_est: 200 | depth: 3    | min_leaf:   8 | min_split:  10 | max_feat: log2  | OOB: 0.8047
n_est: 200 | depth: 5    | min_leaf:   1 | min_split:   5 | max_feat: sqrt  | OOB: 0.8215
n_est: 200 | depth: 5    | min_leaf:   1 | min_split:   8 | max_feat: sqrt  | OOB: 0.8260
n_est: 200 | depth: 5    | min_leaf:   1 | min_split:  10 | max_feat: sqrt  | OOB: 0.8283
n_est: 200 | depth: 5    | min_leaf:   2 | min_split:   5 | max_feat: sqrt  | OOB: 0.8215
n_est: 200 | depth: 5    | min_leaf:   2 | min_split:   8 | max_feat: sqrt  | OOB: 0.8227

In [56]:
predictions = best_model.predict(x_test)

output = pd.DataFrame({'PassengerId': test.PassengerId, 'Survived': predictions})
output.to_csv('submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!

In [57]:
print(output.shape)

(418, 2)

In [58]:
test.shape

(418, 11)